img {
  width: 300px;
}
ul  {
  list-style-type: none;
}
.inner-border,
.outer-border {
  margin: 0;
  padding: 0;
  border: 5px solid black;
}
h3, img, .second {
  padding: 10px;
}
.outer-border {
  width: 340px;
}
